<!-- src/app/shared/components/skill-card/skill-card.component.html -->
<div class="p-4 w-72 border rounded-lg shadow-sm sm:p-8 bg-gray-900 border-gray-800">
    <!-- Título -->
    <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
        {{ title }}
    </h5>

    <!-- Lista dinâmica -->
    <ul role="list" class="space-y-5 my-7">
        <li *ngFor="let skill of skills" class="flex items-center"
            [ngClass]="{ 'line-through decoration-gray-500': !skill.enabled }">
            <svg class="shrink-0 w-4 h-4" [ngClass]="
                skill.enabled
                    ? 'text-pink-600 dark:text-pink-500'
                    : 'text-gray-400 dark:text-gray-500'
                " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707
                            8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1
                            1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1
                            1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight ms-3" [ngClass]="skill.enabled
                ? 'text-gray-500 dark:text-gray-400'
                : 'text-gray-500'">
                {{ skill.name }}
            </span>
        </li>
    </ul>
</div>